transition-platform/src/main/webapp/intellicommand/xsd0.xml

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="https://npsc-ws.thepsc.com/Galaxy/Services/ServiceRequestServiceClassic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JLL.OVWO.Service.Model"/><xs:element name="NewServiceRequest"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="srNew" nillable="true" type="q1:ServiceRequestClassic" xmlns:q1="http://schemas.datacontract.org/2004/07/JLL.OVWO.Service.Model"/></xs:sequence></xs:complexType></xs:element><xs:element name="NewServiceRequestResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="NewServiceRequestResult" nillable="true" type="q2:ServiceRequestClassicAck" xmlns:q2="http://schemas.datacontract.org/2004/07/JLL.OVWO.Service.Model"/></xs:sequence></xs:complexType></xs:element></xs:schema>